--- yaml
layout: 'default'
title: 'Home'
---

.row
	article.col-xs-12
		h1 Hjertelig velkommen til Karstensminde
		p Her på vores hjemmeside kan du finde nyttige informationer om plejehjemmet og vore faciliteter. Du finder desuden praktiske informationer, som lejemålspriser og størrelser, aktiviteter samt madfaciliteter.
		p Karstensminde er et af Danmarks få privat ejede plejehjem med beliggenhed i Gredstedbro. Plejehjemmet ligger i rolige omgivelser med stort præg af landelig idyl og med under 10 min. transport til Danmarks ældste og hyggeligste by, Ribe.

.row
	article.col-md-6
		h2 Beboer
		p Det er vigtigt for os at vore beboere føler sig hjemme i vore omgivelser og får et samvær og en tilknytning til medarbejderne og andre beboere som giver følelsen af at være ´hjemme´. Vi har fokus på livskvalitet, gensidig respekt og empati.
	article.col-md-6
		h2 Tryghed
		p Med et veluddannet personale, rolige omgivelser og med 24 timers opsyn skaber vi personlig tryghed for dig som beboer. I øvrigt er vore fysiske rammer og omgivelser perfekte til at kunne imødekomme dine fysiske og mentale behov.
